li{
  list-style-type: none;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}

.item-property-value{
  margin: 10% 2% auto 2%;
}

.edit-icon, .delete-icon{
  width: 20px;
  height: 30px;
  margin: 10px;
  color: #473e5b;
  display: inline-block;
}

.edit-icon:hover, .delete-icon:hover{
  transition: 0.5s;
  color: #231f2f;
}
.list-item{
  width: calc(100% - 20px);
  border-bottom: 1px solid gray;
  padding: 10px;}
.item-property-show{
  width: calc(100% - 20px);
  text-align: left;
  margin-left: 20px;
}
.item-property{
  width: calc(60% - 20px);
  display: inline-block;
  text-align: left;
  margin-left: 20px;
}
.announcement-buttons{
  width: 40%;
  display: inline-block;
}
.list-item:hover{
  transition: 0.5s;
  background-color: #79698f;
}
.similar-btn{
  width: 85px;
  height: 30px;
  border: 2px solid #6c5c80;
  color: #473d53;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: #9c90ae;
  border-radius: 5px;
  outline: none;

}